# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
#build/
*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage directory
coverage/
.nyc_output/

# Temporary files
tmp/
temp/

DEP_*
XYZ_*

*00path
*NOTES.txt

version/notes

/ndi_discover_v2.cpp
/ndi_receiver_v3.cpp

complete-deploy-client.sh
git-hub-deploy-client
git-hub-initiate-new
git-hub-push-update
GitHubRepoUrl.txt
zzTest
VERSION-NOTES.md
MANUAL-COMMANDS.md
v1__client.js
v2__client.js
bash-history.md